.userLogin-page {
  height: 100vh;
  border: solid 1px white;
  margin-top: 5.5rem;
  background: -webkit-linear-gradient(
    270deg,
    rgba(249, 196, 139, 0.2) 0%,
    hsla(302, 82%, 76%, 0.4) 100%
  );
}
.userLogin {
  width: 60%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 3px rgb(237, 179, 179), 0px 20px 25px rgb(237, 179, 179);
}
.login-left-section {
  width: 50%;
}
.login-right-section {
  width: 50%;
}
.login-right-section .heading {
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.4rem;
  background-color: #f5004f;
}

.login-right-section form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fcedf2;
}
.login-right-section .input-field {
  background-color: rgba(245, 245, 245, 0.682);
  border: solid 1px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  border-radius: 2rem;
  i {
    font-size: 1.6rem;
  }
}
.userLogin .login-right-section .input-field input {
  width: 100%;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background: transparent;
}
.userLogin-page .signin-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.signin-checkbox .remember-me {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.remember-me:hover {
  cursor: pointer;
}
.signin-checkbox .forget-password {
  color: rgb(255, 0, 0);
}
.forget-password:hover {
  cursor: pointer;
}

.userLogin .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
}
.userLogin .submit-button {
  display: flex;
  justify-content: center;
  button {
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(45deg, #f5004eec, #eb2161);
    color: white;
  }
}
.userLogin .submit-button button:hover {
  background-image: linear-gradient(45deg, #f5004e, #ff145f);
}
.userLogin .account {
  margin: auto;
  font-size: 1.4rem;
  span {
    color: red;
  }
}
.userLogin .account span:hover {
  cursor: pointer;
}
.userLogin .admin-login {
  text-align: center;
  div {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width:700px) {
    .userLogin{
        display: flex;
        flex-direction: column;
    }
    .userLogin .login-left-section{
        display: none;

    }
    .userLogin .login-right-section{
        width: 100%;
    }
}
@media (max-width:400px) {
    .userLogin{
        margin-top: 5rem;
        width: 95%;
    }
}