*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  html{
    font-size: 62.5%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
  }
  
  @media (max-width:700px) {
    html{
      font-size: 55%;
    }
  }